test.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="sumup-purchase-orders-sapi" doc:id="5a2a00b0-061c-48c4-bec5-9044120f0187" name="sumup-purchase-orders-sapi-config" api="resource::b231aae4-7f02-4d5d-bc94-57fd040ff017:sumup-purchase-orders-sps-sapi:1.0.3:raml:zip:sumup-purchase-order-sps-sapi.raml" />
	<flow name="sumup-purchase-orders-sps-sapi-main:privateFlow">
        <http:listener config-ref="sumup-salesforce-sapi-httpListenerConfig" path="${api.basepath}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router doc:name="APIkit Router" doc:id="ef7862ca-a0d1-4c69-9e4c-0672d8deea5c" config-ref="sumup-purchase-orders-sapi-config"/>
		<error-handler ref="globalErrorHandlerApiKit" />
    </flow>
	<flow name="sumup-purchase-orders-sps-sapiFlow" doc:id="d2e06488-8768-4bfc-9e37-e3f9f5cf956b" >
		<ee:transform doc:name="Transform Message" doc:id="d517d8a7-fe4f-4c60-bc08-405fbe965e92" >
			<ee:message >
				<ee:set-payload resource="dwl/test.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sumup-purchase-orders-sps-sapiFlow1" doc:id="11a4686a-66bd-4e9a-8c06-f283dd5c587c" >
		<try doc:name="Try" doc:id="7c3a01db-1e56-4b7b-a3f7-b028338c14c9" >
			<ee:transform doc:name="Transform Message" doc:id="e0f8c3e0-9485-460c-b00c-5d2ee1c533df" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name":"ankit"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</try>
	</flow>
	<flow name="sumup-purchase-orders-sps-sapiFlow2" doc:id="bb3efdab-f24b-43c9-afea-e8158417c83f" >
		<set-payload value="#[test]" doc:name="Set Payload" doc:id="8746bd1c-fd7e-4e97-b732-e8ee5d23a9b1" />
	</flow>
</mule>
