sumup-purchase-orders-sps-sapi/src/main/mule/flows/orderFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\order\(orderNumber):sumup-purchase-orders-sapi-config" doc:id="89514fbe-c291-447c-b3e6-cef4914cbf15" >
		<json-logger:logger doc:name="Start" doc:id="2aef4e3a-2b86-4718-8884-5daff6ac8cbf" config-ref="JSON_Logger_Config" message="Start">
			<json-logger:content ><![CDATA[Content]]></json-logger:content>
		</json-logger:logger>
		<flow-ref doc:name="Get Token" doc:id="aecfac32-da7a-4d03-9d3c-deb48262d833" name="GetToken"/>
		<http:request method="${sps.api.method}" doc:name="GET Order from SPS" doc:id="08fecc4a-34f8-4358-855a-796d1124ab0b" config-ref="HTTP_Request_configuration_SPS_Api" path="${sps.api.path}/{orderNumber}" outputMimeType="application/json">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer" ++ " " ++ vars.token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"orderNumber" : attributes.uriParams.orderNumber
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="After SPS Call" doc:id="55d3a3fa-571e-474c-adf7-83179cac4216" config-ref="JSON_Logger_Config" message="After Calling SPS Get Order API" tracePoint="AFTER_REQUEST"/>
		<ee:transform doc:name="Transform Message" doc:id="2db2b926-3e80-413e-9a77-b08cedcaef2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import substringAfterLast from dw::core::Strings

output application/json
---
{
  "responseCode": 200,
  "message": "OK",
  "order": payload
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="End" doc:id="c1b3372d-34d4-4e09-83e5-784593efbda4" config-ref="JSON_Logger_Config" message="End" tracePoint="END"/>
	</flow>
	<flow name="delete:\order\(orderNumber):sumup-purchase-orders-sapi-config" doc:id="fe6bc902-aded-4229-b374-22d165956e92" >
		<json-logger:logger doc:name="Start" doc:id="7a80d3b4-f233-4b90-b6a6-1b62fc43cc95" config-ref="JSON_Logger_Config" message="Start" >
			<json-logger:content ><![CDATA[Content]]></json-logger:content>
		</json-logger:logger>
		<flow-ref doc:name="Get Token" doc:id="867065eb-a975-42cb-ac4e-6a48869c2f40" name="GetToken" />
		<http:request method="${sps.api.method}" doc:name="Delete Order in SPS" doc:id="af904071-dc43-466b-beb4-c3e2c0ce1b0c" config-ref="HTTP_Request_configuration_SPS_Api" path="${sps.api.path}/{orderNumber}" outputMimeType="application/json" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer" ++ " " ++ vars.token
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"orderNumber" : attributes.uriParams.orderNumber
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="After SPS Call" doc:id="bb8dd011-3ab2-44e9-90d8-228d709dd46a" config-ref="JSON_Logger_Config" message="After Calling SPS Delete Order" tracePoint="AFTER_REQUEST" />
		<ee:transform doc:name="Transform Message" doc:id="88353ad5-39fe-48d3-b568-cfbf67215487" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import substringAfterLast from dw::core::Strings

output application/json
---
{
  "responseCode": 200,
  "message": "OK",
  "order": payload
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="End" doc:id="94c7a957-e72c-4a7e-b31b-7172e553066c" config-ref="JSON_Logger_Config" message="End" tracePoint="END" />
	</flow>
</mule>
