sumup-purchase-orders-sps-sapi/target/classes/utils/responseValidationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="responseValidationFlow" doc:id="94d354c3-4278-4a6d-8f7b-aa4f9e6d28a0" >
		<flow-ref doc:name="verifyDeadlocks" doc:id="a35ec340-78d1-4c61-989a-f9f2ff8aa5d5" name="verifyDeadlock"/>
	</flow>
	<flow name="verifyDeadlock" doc:id="7f9c1cdf-0316-4283-86bc-b51c9ae29e4e" >
		<choice doc:name="Choice" doc:id="eae9ab13-275b-4a18-b590-2c8d665ba313" >
			<when expression='#[payload.errors..statusCode default [] contains "UNABLE_TO_LOCK_ROW"]'>
				<raise-error doc:name="Raise error" doc:id="8b2ecde4-6b33-4efc-b392-a10f400938ea" type="SUMUP:DEADLOCK" description="A deadlock happened" />
			</when>
		</choice>
	</flow>
</mule>
